
button, .navbar-toggler {
  width: 20%;
  margin-left: 80%;
  bottom: 10px !important;
  left: 5px !important;
  z-index: 1;
}

.navbar-toggler {
  position: relative;
}

.navbar-nav {
  text-align: right;
}

#mainNavbar .navbar-brand {
  color: #1E488F;
  font-size: 1.7rem;
  font-weight: 500;
  /* margin-bottom: -7%; */
  text-decoration: none;
  padding: 0 2px;
}

#mainNavbar .navbar-brand:hover {
  /* color: #fff; */
  /* transition: background 700ms; */
}

body {
  /* background: #0e1e24; */
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden !important;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  }
  
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }


.sections, html {
  background: #0e1e24
}

.blurb h2 {
  color: #1E488F;
  font-weight: 500;
  font-size: 2.5rem;
}

.blurb p {
  color: white;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

#mainNavbar {
  font-size: 1.6rem;
  font-weight: 400;
  /* background-color: rgba(255, 255, 255, 0.364); */
  opacity: 10px;
  box-shadow: 0 4px 6px 0px rgba(0,0,0,.4);
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color:  #1E488F;
  /* text-decoration: underline; */
}

#mainNavbar .nav-link:focus {
  color:  #1E488F;
  /* text-decoration: underline; */
}

#headingGroup span {
  color: #1E488F;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: rgb(222,192,222);
  transition: background 700ms;
}

.noPadd {
  padding-right: 0px;
}

.noPadd-2 {
  padding-left: 2%;
}

.intro {
  text-align: center;
    top: 0;
    min-height: 55vh;
    padding-top: 25vh;
    padding-bottom: 45vh;
    /* line-height: 100vh; */

    z-index: 0;
}

.intro h3 {
  color: whitesmoke;
  font-weight: bolder;
  /* text-shadow:
  0.02em 0 black,
  0 0.02em black,
  -0.02em 0 black,
  0 -0.02em black; */
  word-wrap: break-word
}

.intro h1 {
    margin: 0;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
    /* text-shadow:
    0.04em 0 black,
    0 0.04em black,
    -0.04em 0 black,
    0 -0.04em black; */

}

.profile_pic {
  border-radius: 50%;
  /* border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%; */
  width: 17%;
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,.75);

}

.projects-header {
  text-align: center;
  color: white;
  padding-top: 2.5%;
}

.skills {
  padding-bottom: 40px;
  padding-top: 20px;
  /* background-color: #89A0B0; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden !important;
}

.skills .header {
  padding: 0;
}

.skills .projects-header {
  padding-top: 0;
}

.img-fluid {
  border-radius: 14px;
  width: 95%;
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,.65);
}

.col-10 .fas {
  color: white;
  font-size: 3.7em;
}

.contact-info {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  /* border: 2px solid #90C695;
  border-radius: 100%; */
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
  text-decoration: none;
}

.contact {
  /* height: 800px; */
  /* min-height: 800px; */
  /* background: #39CCCC; */
  padding-bottom: 160px;
  background: #0e1e24;
  text-align: center;
}

.header {
  padding: 0 0 10% 0;
  margin: 0;
  color: white;
}

#github {
/* background: rgb(79, 88, 109); */
color: white;
}

#linkedin {
background: #007bb5;
color: white;
}

#google {
  color: white;
}

#profile-link {
  color: green;
}

.teamIcons:hover {
  opacity: 0.7;
  text-decoration: none;
  transform: scale(1.15);
}

footer {
padding: 15px;
/* background: #89A0B0; */
border-top: solid 2px rgba(30, 71, 143, 0.63);
color: #1E488F;
box-shadow: 0 4px 6px 0px rgba(0,0,0,.4);
line-height: 3vh;
text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.teamIcons {
  display: flex;
  padding: 0.2em;
  font-size: 85px !important;
}

.skillsIcons {
  display: flex;
  padding: 0.2em;
  font-size: 85px !important;
}

.skillsIcons:hover {
  transform: scale(1.1);
  cursor: pointer;
  /* box-shadow: 0px 0px 5px 3px #0F9B8E; */
}

.fa-linkedin-square {
  color: #4875B4;
}

.fa-github {
  color: black;
}

.lead {
  color: white;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
      font-weight: 100;
      font-size: 3rem;
  }
  #mainNavbar {
    background-color: rgba(165, 172, 175, 0.971);
  }
  #mainNavbar .navbar-brand {
    color: #1E488F;
    font-size: 1.7rem;
    font-weight: 500;
    /* margin-bottom: -7%; */
    text-decoration: none;
    padding: 0 2px;
  }
  .sections, html {
    text-align: center;
  }
  .row {
    margin-left: 0;
  }
  .profile_pic {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 30%;
  }
  .teamIcons {
    display: inline-block;
    padding: 0.2em;
    font-size: 60px !important;
  }

  .skillsIcons {
    display: inline-block;
    padding: 0.2em;
    font-size: 60px !important;
  }

}

@media (max-width: 576px) {
  .noPadd-2 {
      padding-right: 0px;
  }
}

.contactNames {
  display: flex;
  /* padding: 0.2em; */
  top: -20%;
  font-size: 14px !important;
  color: whitesmoke;
  font-weight: bolder;
  padding-right: 9px;
}

/* .contactNames + .email {
  padding-left: 12px;
} */

#github {
  padding-left: 11px;
}


#contactNames {
  margin-top: -4% !important;
  text-align: center;
}

.roll-link {
  display: inline-block;
  overflow: hidden;

  vertical-align: top;

  -webkit-perspective: 600px;
     -moz-perspective: 600px;
     -ms-perspective: 600px;
     perspective: 600px;

  -webkit-perspective-origin: 50% 50%;
     -moz-perspective-origin: 50% 50%;
     -ms-perspective-origin: 50% 50%;
     perspective-origin: 50% 50%;
     
}

.roll-link:hover {text-decoration:none;}

.roll-link span {
  display: block;
  position: relative;
  padding: 0 2px;

  -webkit-transition: all 400ms ease;
     -moz-transition: all 400ms ease;
     -ms-transition: all 400ms ease;
     transition: all 400ms ease;
  
  -webkit-transform-origin: 50% 0%;
     -moz-transform-origin: 50% 0%;
     -ms-transform-origin: 50% 0%;
     transform-origin: 50% 0%;
  
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     -ms-transform-style: preserve-3d;
     transform-style: preserve-3d;
}
.roll-link:hover span {
  /* background-color: rgba(137, 160, 176, 0.971); */
       

      -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
         -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
         -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
         transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.roll-link span:after {
  content: attr(data-title);

  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 10px;
  padding: 0 2px;

  color: #fff;
  /* background-color: rgba(137, 160, 176, 0.971); */

  -webkit-transform-origin: 50% 0%;
     -moz-transform-origin: 50% 0%;
     -ms-transform-origin: 50% 0%;
     transform-origin: 50% 0%;

  -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
     -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
     -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
     transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}