/* * {
  margin: 0;
  padding: 0;
}
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  right: 0;
}


li {
    text-align: -webkit-match-parent;
}

nav ul {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #333;
  margin: 0 auto;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 15pt;
}

nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 25px;
}



li a:hover {
  color: green;
}

div {
    display: block;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.intro {
    top: 0;
    background: #eee;
    min-height: 55vh;
    padding-top: 45vh;
    /* line-height: 100vh; */

/* 
.quoteBox {
  text-align: center;
  margin: -16% 25% 10% 25%
}



.intro p {
  color: green;
}

.intro h1 {
    margin: 0;
}

.projects {
    padding-top: 60px;
    margin-top: -60px;
}

.project {
    text-decoration: none;
    color: #008080;
    display: inline-block;
    overflow: hidden;
    border: 2px solid lightblue;
    height: 220px;
    width: 280px;
    margin: 40px 100px;
}

.project-pic {
    width: 100%;
    height: 180px;
    border-bottom: 2px solid lightblue;
}

.projects .project-header {
    margin-top: 50px;
    color: #008080;
    font-weight: normal;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.project-title {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.profile_pic {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  width: 10%;
} */



button, .navbar-toggler {
  width: 20%;
  margin-left: 80%;
  bottom: 10px !important;
  left: 5px !important;
  z-index: 1;
}

.navbar-toggler {
  position: relative;
}

.navbar-nav {
  text-align: right;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
  font-weight: 350;
  /* margin-bottom: -7%; */
}

body {
  /* background: #0e1e24; */
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden !important;

}


.sections, html {
  background: #0e1e24
}

.blurb h2 {
  color: #ea1c2c;
  font-weight: 150;
  font-size: 2.5rem;
}

.blurb p {
  color: white;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.8rem;
  font-weight: 350;
  background-color: rgba(137, 160, 176, 0.971);
  box-shadow: 0 4px 6px 0px rgba(0,0,0,.4);
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color:  #ea1c2c;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: rgb(222,192,222);
  transition: background 700ms;
}

.noPadd {
  padding-right: 0px;
}

.noPadd-2 {
  padding-left: 2%;
}

.intro {
  text-align: center;
    top: 0;
    min-height: 55vh;
    padding-top: 25vh;
    padding-bottom: 45vh;
    /* line-height: 100vh; */

    z-index: 0;
}

.intro h3 {
  color: whitesmoke;
  font-weight: bolder;
  /* text-shadow:
  0.02em 0 black,
  0 0.02em black,
  -0.02em 0 black,
  0 -0.02em black; */
  word-wrap: break-word
}

.intro h1 {
    margin: 0;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
    /* text-shadow:
    0.04em 0 black,
    0 0.04em black,
    -0.04em 0 black,
    0 -0.04em black; */

}

.profile_pic {
  border-radius: 50%;
  /* border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%; */
  width: 17%;
}

.projects-header {
  text-align: center;
  color: white;
  padding-top: 2.5%;
}

.skills {
  padding-bottom: 40px;
  padding-top: 20px;
  background-color: #89A0B0;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden !important;
}

.skills .header {
  padding: 0;
}

.skills .projects-header {
  padding-top: 0;
}

.img-fluid {
  border-radius: 14px;
  width: 95%;
}

.col-10 .fas {
  color: white;
  font-size: 3.7em;
}

.contact-info {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  /* border: 2px solid #90C695;
  border-radius: 100%; */
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
  text-decoration: none;
}

.contact {
  /* height: 800px; */
  /* min-height: 800px; */
  /* background: #39CCCC; */
  padding-bottom: 160px;
  background: #0e1e24;
  text-align: center;
}

.header {
  padding: 0 0 10% 0;
  margin: 0;
  color: white;
}

#github {
background: rgb(79, 88, 109);
color: white;
}

#linkedin {
background: #007bb5;
color: white;
}

#google {
  color: white;
}

#profile-link {
  color: green;
}

.teamIcons:hover {
  opacity: 0.7;
  text-decoration: none;
  transform: scale(1.15);
}

footer {
padding: 20px;
background: #89A0B0;
color: #ea1c2c;
line-height: 3vh;
text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.teamIcons {
  display: flex;
  padding: 0.2em;
  font-size: 85px !important;
}

.skillsIcons {
  display: flex;
  padding: 0.2em;
  font-size: 85px !important;
}

.skillsIcons:hover {
  transform: scale(1.1);
  cursor: pointer;
  /* box-shadow: 0px 0px 5px 3px #0F9B8E; */
}

.fa-linkedin-square {
  color: #4875B4;
}

.fa-github {
  color: black;
}

.lead {
  color: white;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
      font-weight: 100;
      font-size: 3rem;
  }
  #mainNavbar {
    background-color: rgba(165, 172, 175, 0.971);
  }
  #mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 350;
    margin-bottom: -7%;
  }
  .sections, html {
    text-align: center;
  }
  .row {
    margin-left: 0;
  }
  .profile_pic {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 30%;
  }
  .teamIcons {
    display: inline-block;
    padding: 0.2em;
    font-size: 60px !important;
  }

  .skillsIcons {
    display: inline-block;
    padding: 0.2em;
    font-size: 60px !important;
  }

}

@media (max-width: 576px) {
  .noPadd-2 {
      padding-right: 0px;
  }
}

span {

}
